body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://images.ctfassets.net/4cd45et68cgf/7vHGD7Uco3vCrkcODgl93A/6d8c350a705f7b072d9060c16bd19240/netflix-home_hero-optimized-1200.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;


  }
  .imagem-botao {
    position: fixed; /* Define o posicionamento fixo para que ele permaneça na tela ao rolar */
    top: 10px; /* Distância do topo da página */
    left: 10px; /* Distância da borda esquerda da página */
    display: inline-block;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #6d3a3a;
    border-radius: 5px;
    background-color: #3d2626;
  }

  /* Estilo da imagem dentro do botão */
  .imagem-botao img {
    width: 20px; /* Defina a largura desejada da imagem */
    height: 20px; /* Defina a altura desejada da imagem */
    vertical-align: middle;
    margin-right: 5px; /* Adiciona um espaçamento à direita da imagem (opcional) */
  }

  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 50px;
    right: 10px;
    

  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #listaFilmes img {
    margin: 0px;
    max-height: 250px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    borde-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  